<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Algorithms Visualization</title>
    <link rel="stylesheet" th:href="${headerFooterCss}">
    <link rel="stylesheet" th:href="${infoDivCss}">
</head>
<body>
    <!-- Header -->
    <header th:insert="~{header :: header}"></header>
    
    <!-- Main Content -->
    <main>
        <div th:insert="~{infoDiv :: infoDivision}"></div>
    </main>
    
    <!-- Footer -->
    <footer th:insert="~{footer :: footer}"></footer>

    <script th:src="@{/core/headerFooter.js}"></script>

</body>
</html>